body {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ebeef1;
  margin-top: 15rem;
}

.mainDiv {
  position: absolute;
  top: 1rem;
  width: 90%;
  margin-top: 9rem;
  background-color: #dee2e6;
  border-radius: 1.5rem;
  box-shadow: 10px 10px 10px -5px #0a63a94d, 
  -10px -10px 10px -10px #f0f0f0;
}

.homeDiv {
  width: 95%;
  height: 55rem;
  border-radius: 15rem 0rem 15rem 0rem;
  box-shadow: 10px 10px 10px -5px #0a63a94d, 
  -10px -10px 10px -10px #f0f0f0;
}

.borderDiv {
  width: 32rem;
  height: 35rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 4rem;
  /* box-shadow: 5px 5px 10px 0px #0a63a94d,
  -2px -2px 10px 0px #f0f0f0; */
  box-shadow: 10px 10px 15px -10px #0a63a94d,
  -10px -10px 15px -10px #f0f0f0,
  inset 10px 10px 15px -10px #0a63a94d,
  inset -10px -10px 15px -10px #f0f0f0;
}

.colOne {
  width: 45%;
}

.colContent {
  width: 90%;
}

.colTwo {
  width: 35%;
}

.headerOne {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 4.5rem;
  color: #397cbe;
  margin: 0;
}

.headerTwoDiv {
  width: 27vw;
}

.headerTwo {
  font-family: 'Open Sans', sans-serif;
  font-weight: 800;
  font-size: 2rem;
  color: #39bea1;
  /* margin: 1rem; */
}

.paragraph {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 1.5rem;
  color: #0a64a98a;
}

.picProfileDiv {
  width: 25.25rem;
  height: 24.15rem;
  border: none;
  border-radius: 17.5rem;
  box-shadow: 15px 15px 15px -10px rgba(10, 99, 169, 0.5),
  -15px -15px 15px -10px rgba(255, 255, 255, 0.80);
}

.picProfile {
  width: 25rem;
  border: none;
  border-radius: 19.5rem;
  opacity: 0.9;
}

/* .picProfileDiv:hover {
  width: 30rem;
  height: 30rem;
  border-radius: 15rem;
  box-shadow: 0px 0px 5px 2px rgb(89 182 255),
  15px 15px 15px -10px rgba(10, 99, 169, 0.5),
  -15px -15px 15px -10px rgba(255, 255, 255, 0.80);

  .picProfile {
    width: 29rem;
    border: none;
    border-radius: 15rem;
  }
} */