.contactDiv {
  width: 95%;
  height: 55rem;
  color: #fff;
  background-color: rgb(60 60 60);
  border-radius: 0 15rem 0 15rem;
  box-shadow: 15px 15px 15px 0px #0a63a94d, 
  -15px -15px 15px -10px rgb(0 0 0);
  margin-top: 2rem;
}

.contactDivCol1 {
  width: 30%;

  .contactDivText {
    font-size: 3rem;
  }
}

.formDiv {
  width: 29rem;
  height: 35rem;
  /* border: 1px solid #fff; */
  padding: 2rem;
  border-radius: 4rem;
  box-shadow: 15px 15px 15px -10px rgba(10, 99, 169, 0.5),
  -8px -8px 30px -5px #515151;
}

.inputDiv {
  display: flex;
  width: 16.55rem;
  padding: .25rem;
  border-radius: 1.65rem;
  box-shadow: 2px 2px 10px 3px #0000004d,
  -2px -2px 10px 0px #a1a1a1;
  align-items: center;
  justify-content: center;
}

.input {
  width: 15rem;
  border-radius: 1rem;
  padding: .5rem 0 .5rem .5rem;
}

.inputTextArea {
  width: 25rem;
  height: 10rem;
}

.buttonForm {
  width: 10rem;
  height: 3rem;
  border: none;
  border-radius: 1.5rem;
  color: #fff;
  background-color: rgb(60, 60, 60);
  /* box-shadow: 0px 0px 5px 2px rgb(89 182 255),
  10px 10px 10px -5px rgb(202 203 204),
  -10px -10px 10px -5px rgb(253,254,255); */
  box-shadow: inset 2px 2px 10px 3px #0a63a94d,
  inset -2px -2px 10px 0px rgb(126 126 126);
}

.buttonForm:hover {
  width: 10rem;
  height: 3rem;
  border: none;
  border-radius: 1.5rem;
  color: #fff;
  background-color: rgb(60, 60, 60);
  box-shadow: 2px 2px 10px 3px #0a63a94d,
  -2px -2px 10px 0px rgb(126 126 126);
}