.navBar {
  position: fixed;
  top: 2rem;
  width: 90%;
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: #dee2e6; */
  background-color: #ebeef1;
  border-radius: 4rem;
  box-shadow: 10px 10px 15px -10px #0a63a94d,
  -10px -10px 15px -10px #f0f0f0,
  inset 10px 10px 15px -10px #0a63a94d,
  inset -10px -10px 15px -10px #f0f0f0;
  z-index: 1;
}

.logoDivOut {
  width: 3rem;
  height: 3rem;
  margin: 0;
  border: none;
  border-radius: 2rem;
  box-shadow: inset 10px 10px 10px -5px rgba(10, 99, 169, 0.3), 
  inset -10px -10px 10px -5px rgba(255, 255, 255, 0.80);
}

.logoDivIn {
  width: 5rem;
  margin: 0;
  border: none;
  border-radius: 0.5rem;
  text-align: center;
}

.buttonsParent {
 width: 30%;
}

button {
  width: 3rem;
  height: 3rem;
  border: none;
  border-radius: 1.5rem;
  box-shadow: 0px 0px 5px 2px rgb(89 182 255),
  10px 10px 10px -5px rgb(202 203 204),
  -10px -10px 10px -5px rgb(253,254,255);
  /* background-color: #444; */
  /* box-shadow: 0px 0px 5px 2px rgb(89 182 255), 5px 5px 10px 5px rgb(0 15 31), -5px -5px 10px -4px rgb(253,254,255); */
}

button:active {
  width: 3rem;
  height: 3rem;
  border: none;
  border-radius: 1.5rem;
  box-shadow: 0px 0px 5px 2px rgb(89 182 255),
  inset 6px 6px 6px 0px rgba(10, 99, 169, 0.5),
  10px 10px 10px -5px rgb(202 203 204),
  inset -5px -5px 10px 0px rgba(255, 255, 255, 0.80);
}
