.aboutDiv {
  width: 95%;
  height: 50rem;
  background-color: #ffb237;
  border-radius: 0 15rem 0 15rem;
  /* box-shadow: 10px 10px 10px -5px #0a63a94d, 
  -10px -10px 10px -5px #ffae08fc; */
  box-shadow: 15px 15px 15px -10px #d9a200,
  -8px -8px 30px -5px #ffffff75,
  inset 10px 10px 15px -10px #d9a200,
  inset -10px -10px 15px -10px #ffffff75;
  margin-top: 4rem;
}

.aboutContainer {
  width: 40rem;
  height: 40rem;
}

.AboutP {
  font-size: 1.5rem;
  font-weight: 500;
  color: #fff;
}

.resumeButton {
  width: 10rem;
  height: 5rem;
  font-size: 1.15rem;
  border-radius: 4rem;
  background-color: transparent;
  border: none;
  box-shadow: 15px 15px 15px -10px #d9a200,
  -8px -8px 30px -5px #ffffff75,
  inset 10px 10px 15px -10px #d9a200,
  inset -10px -10px 15px -10px #ffffff75;
}

.resumeButton:hover, .resumeButton:active {
  color: #fff;
  width: 10rem;
  height: 5rem;
  font-size: 1.15rem;
  border-radius: 4rem;
  background-color: #0a58ca;
  border: none;
  box-shadow: 15px 15px 15px -10px #d9a200,
  -8px -8px 30px -5px #ffffff75,
  inset 10px 10px 15px -10px #d1e3ff,
  inset -10px -10px 15px -10px #ffffff75;
}

.carouselDiv {
  width: 45rem;
  height: 26rem;
  border-radius: 4rem;
  /* box-shadow: 10px 10px 10px -5px #0a63a94d, 
  -10px -10px 10px -5px rgba(255, 255, 255, 0.80); */
  box-shadow: 15px 15px 15px -15px #d9a200,
  -8px -8px 30px -15px #ffffff75,
  inset 10px 10px 15px -15px #d9a200,
  inset -10px -10px 15px -15px #ffffff75;
}

.carouselImg, .carousel-inner, .carousel-item {
  border-radius: 3rem;
  width: 43rem;
  height: 24rem;
}

.carousel-indicators, .carousel-control-prev, .carousel-control-next-icon {
  display: none;
}

.picProfileDivAbout {
  width: 18rem;
  height: 18rem;
  border: none;
  border-radius: 9.5rem;
  box-shadow: 15px 15px 15px -10px rgba(10, 99, 169, 0.5),
  -15px -15px 15px -10px #ffd673;
}